@font-face {
  font-family: "Bellota-LightItalic";
  src: url("../fonts/Bellota-LightItalic.otf");
}
@font-face {
  font-family: "Bellota-BoldItalic";
  src: url("../fonts/Bellota-BoldItalic.otf");
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
  background: url(../images/backgrounds/register_bg.jpeg);
  background-repeat: repeat-x; 
  padding: 0px 10px;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
}

.wrapper .login_box {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 15%;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 7px;
  padding: 5px;
  opacity: 0.98;
}

.wrapper .login_box .login_header {
  font-family: "Bellota-LightItalic", sans-serif;
  width: 100%;
  height: 90px;
  background-color: #f6f9fc;
  color: #fff;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.wrapper .login_box .login_header h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #020202;
  font-size: 250%;
}

.wrapper .login_box .form {
  width: 100%;
}

.wrapper .login_box .form .signup a {
  text-decoration: none;
  color: #020202;
  text-align: center;
  padding: 2px;
}

.wrapper .login_box .form .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .login_box .form .input_field .input {
  width: 100%;
  outline: none;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  align-items: center;
  transition: all 0.3s ease;
}

.wrapper .login_box .form .input_field .input:hover {
  border-color: #3498db;
}

.wrapper .login_box .form .login_button .login_button,
.wrapper .login_box .form .signup_button .signup_button {
  background-image: linear-gradient(rgb(113, 243, 204), rgb(116, 244, 253));
  border: 1px solid #fcfdfd;
  border-radius: 3px;
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 100%;
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

#second {
  display: none;
}

@media (max-width: 420px) {
  .wrapper .login_box .form .input_field {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .login_box .form .input_field .input {
    margin-bottom: 5px;
  }
}
