@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  background-image: url("assets\images\backgrounds\Social_Media_Background.jpg");
  background-color: white;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .search-bar {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    position: relative;
  }
}

@media screen and (min-width: 901px) and (max-width: 9000px) {
  .search-bar {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    position: relative;
    right: 50%;
  }


  .navbar-items {
    position: relative;
    left: 45%;
  }
}

.dropdown_data_window {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow: scroll;
}

.button_holder img {
  margin-top: 1px;
  width: 20px;
}

.search_results {
  background-color: #fff;
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: none;
  margin-top: 21px;
}

.search_results_footer {
  padding: 7px 4px 0px 4px;
  height: 30px;
  border: 1px solid #dadada;
  border-top: none;
  background-color: #20aae5;
  text-align: center;
}

.search_results_footer a {
  color: #fff;
}

.search_result {
  padding: 10px;
  height: 100px;
}

.search {
  margin: 8px 0 0 15%;
}

.search #search_text_input {
  border: thin solid #e5e5e5;
  position: absolute;
  float: left;
  left: 29%;
  height: 32px;
  outline: 0;
  width: 160px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search_results {
  background-color: #fff;
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: none;
  margin-top: 21px;
}

.search_results_footer {
  padding: 7px 4px 0px 4px;
  height: 30px;
  border: 1px solid #dadada;
  border-top: none;
  background-color: #20aae5;
  text-align: center;
}

.search_results_footer a {
  color: #fff;
}

.search_result {
  padding: 10px;
  height: 100px;
}

.searchPageFriendButtons {
  float: right;
}

.searchPageFriendButtons input[type="submit"] {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
}

.result_profile_pic {
  float: left;
  margin-right: 10px;
}

#search_hr {
  margin-bottom: 0px;
}

.small_profile_pic {
  height: 55px;
  margin: 1px 12px 0 2px;
  float: left;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}

.new-icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.new-icon-bar a {
  background-color: white;
  float: left;
  width: 12.50%;
  text-align: center;
  padding: 8px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}
